@charset "UTF-8";

@media screen and (max-width: 747px) {
    .main-search {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .search-input {width: 240px;}

    .filter-select {
        width: 256px;
        margin-top: 16px;
    }

    .main-countries {
        margin: auto;
        padding: 8px;
        margin-top: 16px;

        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 748px) {
    .search-input {width: 264px;}
}